@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

html,
body {
    background: linear-gradient(269.68deg, #000000 0.25%, #1e1d20 27.93%, #000000 100.53%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Cormorant SC', serif;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 32px;
    color: white;
    margin-left: 10vw;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    font-family: 'Cormorant SC', serif;
    font-size: 16px;
    color: white;
    margin-left: 10vw;
    width: 30%;
}

button {
    font-family: 'Cormorant SC', serif;
    color: white;
    background-color: rgba(94, 94, 94, 0.541);
    border: 1px white solid;
    height: 60px;
    width: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(238, 238, 238, 0.541);
    color: black;

}

button:disabled,
button[disabled] {
    background-color: rgba(29, 29, 29, 0.541);
    color: rgb(129, 129, 129);
    border: 1px rgb(129, 129, 129) solid;
    cursor: not-allowed;

}

.button_row {
    position: absolute;
    right: 0;
    top: 32px;
}

#p1 {
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 0;
}

#p2 {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: -8vw;
}

#p3 {
    opacity: 0;
    position: absolute;
    top: 48%;
    left: -5vw;
}

#p4 {
    opacity: 0;
    position: absolute;
    top: 25%;
    right: 5vw;
}