html,
body {
    background: #292929;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 160px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translateY(-75%);
    z-index: 750;

}

h1 span {
    animation: blink 0.8s infinite;

}

@keyframes blink {

    0%,
    49% {
        opacity: 1
    }

    50%,
    100% {
        opacity: 0
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}